header{
    position: relative;
    width: 100vw;
    height: 15vh;
    background: #f3f5fc; 
}

header img{
    position: relative;
    margin: 5px;
    padding: 15px;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f3f5fc;
}

.texto{
    position: absolute;
    width: 55%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;

}

.texto::placeholder{
    color: #0a3871;
}

.texto:focus,
.texto{
    outline: none;
    border: none;
    
}

.texto-encriptado:focus{
    outline: none;
    border: none;

}

.reglas{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.reglas p {
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 84%;
}

.btn-encriptar{
    align-content: center;
    justify-content: center;
    padding: 1.5%;
    gap: 8px;
    width: 18%;
    margin: 0 0 0 10px;
    background-color: #0a3870;
    border: 1px transparent;
    border-radius: 13px;
    font-family: "inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

}

.btn-desencriptar{
    align-content: center;
    justify-content: center;
    padding: 1.5%;
    gap: 8px;
    width: 18%;
    margin: 0 0 0 10px;
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 13px;
    font-family: "inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #0a3870;

}

.btn-limpiar{
    align-content: center;
    justify-content: center;
    padding: 1.5%;
    gap: 8px;
    width: 18%;
    margin: 0 0 0 10px;
    background-color: #1f3c5e;
    border: 1px solid;
    border-radius: 13px;
    font-family: "inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.btn-desencriptar:hover,
.btn-encriptar:hover,
.btn-limpiar:hover{
    width: 17.5%;
    padding: 1.2;
}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 25%;
    height: 90%;
    left: 65%;
    top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    border-radius: 32px;
}

.contenedor-resultado{
    position: absolute;
    width: 90%;
    height: 55%;
    left: 5%;
    top: 10%;
    
    font-family: "inter";
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    
}


.btn-copiar{
    height: 30px;
    position: absolute;
    align-content: center;
    justify-content: center;
    top: 90%;
    padding: 2%;
    gap: 8px;
    width: 60%;
    background-color: #0a3870;
    border: 1px transparent;
    border-radius: 10px;
    font-family: "inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.btn-copiar:hover{
    margin: 0.3%;
    width: 54%;
    padding: 1.8;
}

.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.mensaje-encriptado p{
    width: 80%;
    font-family: "inter";
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.encriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

footer{
    position: relative;
    display: flex;
    width: 100vw;
    height: 10vh;
    background: #f3f5fc; 
}

.redes{
    padding: 10px;
    border: 10px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.githubimg{
    position: relative;
    width: 20px;
    height: 20px;
}

.github{
    margin: 5px 5px 5px 5px;
    font-family: "inter";
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    text-decoration: none;
}

.linkedinimg{
    position: center;
    width: 20px;
    height: 20px;
}

.linkedIn{
    margin: 5px 5px 5px 5px;
    font-family: "inter";
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    text-decoration: none;
}

/* responsive design
@media (max-width: 57.5em) {
    
    header{
        background: green;
        height: 10vh;
    }

    header img{
        padding: 0;
    }

    .container{
        position: relative;
        width: 100vw;
        height: 85vh;
        background: #f3f5fc;
        display: flex;
        flex-direction: column;
    }
    .encriptar {
        border: 1px solid red;
        width: 100%;
        height: 50%;

    }
    .texto{
        width: 80%;
        height: 40%;
        left: 10%;
        top: 5%;
        background: red;
    }
    .reglas{
        width: 80%;
        left: 10%;
        top: 45%;
    }
    .reglas p{
        font-size: 16px;

    }
    .botones{
        width: 90%;
        left: 2%;
        top: 50%;
    }
    .btn-encriptar,
    .btn-desencriptar,
    .btn-limpiar{
        width: 30%;
        border-radius: 12px;
    }
    .btn-encriptar:hover,.btn-desencriptar:hover,.btn-limpiar:hover{
        margin: 0.3%;
        width: 29.5%;
        padding: 1.8%;
    }
    .encriptado{
        height: 40%;
        top: 60%;
        width: 80%;      
        left: 10%;

    }

    .btn-copiar{
        width: 30%;
        bottom: 10px;
        border-radius: 12px;
        
    }

    .btn-copiar:hover{
        margin: 0.3%;
        width: 64.5%;
        padding: 1.8%;
    }

    .mensaje-encriptado{
        width: 100%;
        top: 4%;
        height: 30%;
        bottom: 40%;
    }
    .encriptado img {
        top: 0;
        display: none;
    }

    footer{
        position: absolute;
        top: 95%;
    }

    footer .redes{
        position: relative;
        width: 100%;
        padding: 10px;
        border: 10px;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        
    }
}
*/
